<section>
	<style type="text/css">
		.btn-xlarge {
			padding: 18px 28px;
			font-size: 22px;
			line-height: normal;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
	</style>

	<div class="container">
		<h1>
			Please Choose a City
		</h1>
		<br><br><br>
		<p style="text-align: center">
			<a class="btn btn-primary btn-xlarge" href="/#/cities/Los Angeles" role="button">Los Angeles</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			<a class="btn btn-info btn-xlarge" href="/#/cities/San Fransisco" role="button">San Francisco</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			<a class="btn btn-warning btn-xlarge" href="/#/cities/Denver" role="button">Denver</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <br><br><br><br>
			<a class="btn btn-danger btn-xlarge" href="/#/cities/New York" role="button">New York</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			<a class="btn btn-success btn-xlarge" href="/#/cities/Austin" role="button">Austin</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			<a class="btn btn-default btn-xlarge" href="/#/cities/Seattle" role="button">Seattle</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
			<a class="btn btn-primary btn-xlarge" href="/#/cities/Chicago" role="button">Chicago</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
		</p>

	</div>
	

	
	
	

</section>