<section>
	<style type="text/css">
		.btn-xlarge {
			padding: 18px 28px;
			font-size: 22px;
			line-height: normal;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
		}
	</style>
	<div class="container">
		

		<div class="jumbotron">
			<h1>
				Welcome to CS570 <br>Weather Analytics. <hr>
			</h1>
			<br>

			<p style="text-align: center">
				<a class="btn btn-primary btn-xlarge" href="/#/weather/" role="button">All Cities</a> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
				<a class="btn btn-warning btn-xlarge" href="/#/cities/" role="button">Each Cities</a>
			</p>
			<br><br><br><br>
			<p>
				by <small>Seung Kim, Venkatesh Manohar, Ravinder Saggu</small>
			</p>
		</div>

	</div>
</section>